<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title>
		Welcome to my app
	</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	
</head>
<body>
	<h1>Welcome to my App HM!</h1>

	<u1>
		<li><a href="main_index">메인 페이지</a></li>
	</ul>
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>